<%= form_with model:@cocktail, local: :true do |form| %>
    <p> 
    <%= form.label :name%><br>
    <%= form.text_field :name, class: @cocktail.errors[:name].present? ? "custom_errors" : nil %></p>
    <br>
    <%= form.label :calories%><br>
    <p><%= form.number_field :calories, class: @cocktail.errors[:calories].present? ? "custom_errors" : nil %></p>  
    <br>
    <%= form.label :recipe%><br>
    <p><%= form.text_area :recipe, class: @cocktail.errors[:recipe].present? ? "custom_errors" : nil %></p>
    <br>
    <p><%= form.label :ingredients%></p>
    <p> * command + click to select multiple ingredients *</p>
    <%= form.collection_select(:ingredient_ids, Ingredient.order(:name).all, :id, :name, {}, {multiple:true, class: @cocktail.errors[:ingredients].present? ? "custom_errors" : nil })%>
    <br>
    <p>Didn't see an ingredient you need?</p>
    <%=link_to "Add an Ingredient!", new_ingredient_path%>
    <br>
    <br>
    <%= form.submit %>
<% end %>
