<%= form_with model:@cocktail, local: :true do |form| %>
    <h4> Name: <%= form.text_field :name, class: @cocktail.errors.any? ? "custom_errors" : nil %></h4>
    <br>
    <h4> Calories:<%= form.number_field :calories %></h4>  
    <br>
    <h4> Recipe:<%= form.text_field :recipe %></h4>
    <br>
    <h4> Ingredients:</h4>
    <%= form.fields_for :ingredients do |ing| %>
        <%= ing.text_field :name %>
    <% end %>  
    <br>
    <br>
    <%= form.submit %>
<% end %>