<h1> Recipe for <%= @cocktail.name %>! </h1>
<br>
<h4> Name: <%=@cocktail.name %></h4>
<h4> Calories: <%=@cocktail.calories %></h4>
<h4> Ingredients: <%=@cocktail.ingredients.find_by(params[:cocktail_id]) %></h4>
<h4>Recipe: </h4>
 <p><%=@cocktail.recipe %></p>

<h6>
    <%= button_to "Edit", edit_cocktail_path(@cocktail), method: :get%>
</h6>
<h6>
    <%= button_to "Delete", @cocktail, method: :delete, data: {confirm: "Delete this cocktail?"} %>
</h6>
