<section class="jumbotron text-center">
    <div class="container">

<h1> Recipe for <%= @cocktail.name %> </h1>
<br>
<label> Name: </label>
<h4><%=@cocktail.name %></h4>
<label> Calories: </label>
<h4><%=@cocktail.calories %></h4>
<label> Ingredients: </label>
<% @cocktail.ingredients.each do |ing| %>
    <h5><li><%= ing.name %></li></h5>
    <% end %>
<br> 
<h4>Recipe: </h4>
 <p><%=@cocktail.recipe %></p>
 <br> 
<h4>Average Rating out of 10: </h4>
 <p><%=@cocktail.reviews.average(:rating).try(:round, 1) || 'Not yet rated' %></p>

 <% if @cocktail.can_edit?(current_user) %>
<h6>
    <a href=<%=edit_cocktail_path(@cocktail)%> class="btn btn-secondary my-2" style="background-color:black;border-color:black;">Edit</a>
</h6>
<h6>
    <%= button_to "Delete", @cocktail, method: :delete, data: {confirm: "Delete this cocktail?"} %>

</h6>
<% else %>
    <% review = current_user.reviews.where(cocktail: @cocktail).first %>
    <% if review %>
        <h4> your rating for this cocktail: </h4>
        <%= review.rating %>
    <h1>edit button <h/1>
    <% else %>
<h6>
    <a href=<%=new_cocktail_review_path(@cocktail)%> class="btn btn-secondary my-2" style="background-color:black;border-color:black;">Add a review</a>
</h6>
    <% end %>
<% end %>

    </div>
</section>
